.main,
.leftbuf,
.rightbuf {
  display: inline-block;
}


.leftbuf,
.rightbuff {
  width:100px;
}

.main{
  text-align: center;
  border: 1px solid black;
  width: 400px;
}

#taskList {
  padding:0 0 20px 20px;
  text-align: left;
}

.taskForm{
  margin:20px 0 0 0;
}

.subTask {
  margin: 0 0 0 20px;
}

.bullet{
  cursor:pointer;
  color: #999999;
}
.bullet:hover{
  font-weight: bold;
}

.deleter {
  cursor:pointer;
  color: #f9ecec;
}
.deleter:hover {
  cursor:pointer;
  color: #993333;
}

.addSubTask {
  font-size: 1.5em;
  cursor:pointer;
  color: #b3e6b3;
}
.addSubTask:hover {
  cursor:pointer;
  color: #339933;
}

.done {
  text-decoration: line-through;
}
